<!doctype html>
<html class="no-js " lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>DBIT Home</title>
<link rel="icon" href="C:\xampp\htdocs\dbit\thememakker.com\templates\oreo\university\front\assets\images\dbit_logo_output_400.png"> <!-- start linking -->
<link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="assets/css/style.min.css">
</head>

<body>

<div id="loading" class="page-loader-wrapper">
    <div class="loader">
        <div class="m-t-30"><img class="zmdi-hc-spin" src="C:\xampp\htdocs\university\front\assets\images\aperture.svg" width="48" height="48"></div>
        <p>Please wait...</p>
    </div>
</div>

<div class="wrapper">
    <div class="main_header">
        <div id="top-nav">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="left">
                            <ul class="list-unstyled m-b-0">
                                <li>
                                    <a href="javascript:void(0);" class="btn btn-link"><i class="zmdi zmdi-email m-r-3"></i> dbit[at]dbit.in</a>
                                    <a href="javascript:void(0);" class="btn btn-link"><i class="fa fa-fax m-r-3" aria-hidden="true"></i>25040682</a>
                                    <a href="javascript:void(0);" class="btn btn-link"><i class="zmdi zmdi-phone m-r-3"></i>022-25042424 / 022-25040508</a>
                                    <a href="javascript:void(0);" class="btn btn-link"><i class="zmdi zmdi-globe m-r-3"></i>www.dbit.in</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <header id="header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-5 col-sm-5">
                        <a href="index.html" class="navbar-brand" style="color: white;"><img src="C:\xampp\htdocs\university\front\assets\images\dbit_logo_output_400.png" alt="DBIT" height="100px" width="40px">Don Bosco Institute of Technology</a>
                    </div>
                    <div class="col-lg-7 col-sm-7">
                        <div class="text-right">
                            <p class="col-white m-b-0 p-t-5"><i class="zmdi zmdi-time"></i> Mon - Fri: 9:00 - 17:00 &nbsp;&nbsp;Saturday,Sunday CLOSED </p>
                            <p class="col-white m-b-0"><i class="zmdi zmdi-pin"></i> Don Bosco Institute Of Technology<br>Premier Automobiles Road, Opp. Fiat Company,<br>Kurla (W), Mumbai- 400 070 </p>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div id="navbar">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active"><a class="nav-link" href="index.html">Home</a></li>
                            <!-- <li class="nav-item"><a class="nav-link" href="courses.html">Courses</a></li> -->
                            <li class="nav-item"><a class="nav-link" href="event.html">Event</a></li>
                            <li class="nav-item"><a class="nav-link" href="teachers.html">Faculty</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admissions</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="admission-notice.html">Notices</a>
                                    <a class="dropdown-item" href="admission-instruction.html">Instructions</a>
                                    <a class="dropdown-item" href="C:\xampp\htdocs\dbit\thememakker.com\templates\oreo\university\front\assets\DBIT-Brochure-22-06-2017_new-edited.pdf">Prospectus</a>
                                    <a class="dropdown-item" href="fee-structure.html">Fee Structures</a>
                                    <a class="dropdown-item" href="scholarships.html">Scholarships</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Examinations</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Notice</a>
                                    <a class="dropdown-item" href="#">Downloads</a>
                                    <a class="dropdown-item" href="#">Student Verification</a>
                                    <a class="dropdown-item" href="#">Time Table</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Departments</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="">UG</a>
                                    <a class="dropdown-item" href="http://www.dbimr.org/">PG</a>
                                    <a class="dropdown-item" href="http://opac.dbit.in/">Library</a>
                                </div>
                            </li>
                            
                            <li class="nav-item"><a class="nav-link" href="#">Placements</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="about.html">About Us</a>
                                    <a class="dropdown-item" href="faq.html">FAQs</a>
                                    <a class="dropdown-item" href="galary.html">Galery</a>
                                    <a class="dropdown-item" href="#">IQAC</a>
                                    <a class="dropdown-item" href="#">NIRF</a>
                                    <a class="dropdown-item" href="404.html">404</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">R&D</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Current R&D</a>
                                    <a class="dropdown-item" href="#">Sponsored Projects</a>
                                    <a class="dropdown-item" href="http://dbjse.dbit.in/">DBJSE Journal</a>
                                    <a class="dropdown-item" href="#">Code of Ethics</a>
                                </div>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="contact.html">Contact Us</a>
                            </li>
                        </ul>
                       <!--  <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        </form> -->
                    </div>
                </nav>
            </div>
        </div>
    </div>

    <!-- start hero -->
    <section id="hero">
        <div class="slider" style="background-image:url(assets/images/don-bosco-institute-of-technology-dbit-mumbai.jpg)">
            <div class="container-fluid">
                <div class="slider_text">
                    <h3 class="title" style="color: black;"><span>Welcome to</span>&nbsp;<strong>DBIT </strong></h3>
                    <!-- <p class="sub-title"></p><br>
                    <button class="btn btn-primary btn-round">View More</button> -->
                </div>
               <!--  <div class="slider_form">
                    <div class="row">
                        <p class="col-12">Choose Your Course</p>
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group"> <input type="text" value="" placeholder="Enter Name" class="form-control m-b-15">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-6">
                            <div class="form-group"> <input type="text" value="" placeholder="Enter Email" class="form-control m-b-15">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-6">
                            <div class="form-group"> <input type="text" value="" placeholder="Enter Phone" class="form-control m-b-15">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-6">
                            <select class="form-control m-b-15">
                                <option selected="selected">Choose Faculty</option>
                                <option>Marc Parcival</option>
                                <option>Alen Bailey</option>
                                <option>Basil Andrew</option>
                                <option>Giles Franklin</option>
                                <option>Edgar Denzil</option>
                                <option>Garfield Feris</option>
                            </select>
                        </div>
                        <div class="col-lg-4 col-md-6 col-6">
                            <div class="form-group">
                                <input type="text" value="" placeholder="Date Of Birth" class="form-control m-b-15">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <button class="btn btn-primary btn-round btn-block m-t-0 m-b-0">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </section>

    <!-- Content Area -->
    <section class="main-section">
        <!-- Home About Us Section -->
        <div class="about-us-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="section-title col-12">
                        <h2><span>About </span>Us</h2>
                      <!--   <p>Description text here...</p> -->
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="col-lg-5 col-sm-12">
                        <div class="box-img img_hover_effect box-shadow m-b-20">
                            <img src="assets/images/about-img.jpg" alt="">
                            <span class="section-line"></span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <div class="common-cnt">
                            <div class="section-top">
                                <p><strong>Don Bosco Institute of Technology</strong> isIt is a long established fact that a readerwill be distracted by the readable content.</p>
                            </div>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in apiece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
                            <ul class="list-unstyled">
                                <li><i class="zmdi zmdi-graduation-cap"></i>Over 14 Million Students</li>
                                <li><i class="zmdi zmdi-thumb-up"></i>More Than 30,000 Courses</li>
                                <li><i class="zmdi zmdi-globe"></i>Notes are on Moodle</li>
                            </ul>
                            <p> <a href="about.html" class="btn btn-primary btn-simple btn-round margin-0">ViewMore</a> </p>
                        </div>
                    </div>
                    <div class="col-sm-12 section-bottom">
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't
                            look even slightly believable.</p>
                        <ul class="row list-unstyled">
                            <li class="col-sm-6 col-md-3 col-lg-4 col-xl-2"><div class="about-box text-center"><i class="zmdi zmdi-lamp"></i> <span>ScienceLab</span></div></li>
                            <li class="col-sm-6 col-md-3 col-lg-4 col-xl-2"><div class="about-box text-center"><i class="zmdi zmdi-puzzle-piece"></i> <span>Games library</span></div></li>
                            <li class="col-sm-6 col-md-3 col-lg-4 col-xl-2"><div class="about-box text-center"><i class="zmdi zmdi-collection-music"></i><span>Music library</span></div></li>
                            <li class="col-sm-6 col-md-3 col-lg-4 col-xl-2"><div class="about-box text-center"><i class="zmdi zmdi-desktop-mac"></i> <span>Computer Lab</span></div></li>
                            <li class="col-sm-6 col-md-3 col-lg-4 col-xl-2"><div class="about-box text-center"><i class="zmdi zmdi-desktop-mac"></i> <span>Book library</span></div></li>
                            <li class="col-sm-6 col-md-3 col-lg-4 col-xl-2"><div class="about-box text-center"><i class="zmdi zmdi-ticket-star"></i> <span>Canteen</span></div></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Our Best Courses -->
        <div class="our-best-courses xl-darkblack section-65-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="section-title left col-lg-10 col-md-9">
                        <h2><span>Our </span>Best Courses</h2>
                        <p>Description text here...</p>
                    </div>
                    <div class="section-title right col-lg-2 col-md-3">
                        <a href="courses.html" class="btn btn-primary btn-round btn-simple float-md-right">View All</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="courses-box">
                            <div class="courses-img img_hover_effect"><img src="assets/images/courses-img-1.jpg" alt="Magento Programmer"></div>
                            <div class="courses-cnt">
                                <div class="courses-name">Magento Programmer</div>
                                <ul class="list-unstyled">
                                    <li><label>Fees:</label> <span>$349.00</span> </li>
                                    <li><label>Prof.:</label> <span>Chris Fox</span> </li>
                                    <li><label>Time:</label> <span>6months</span> </li>
                                    <li><label>Students:</label> <span>65</span> </li>
                                </ul>
                                <a class="btn btn-simple btn-round displayblock" href="javascript:void(0);">View More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="courses-box">
                            <div class="courses-img img_hover_effect"><img src="assets/images/courses-img-2.jpg" alt="Magento Programmer"></div>
                            <div class="courses-cnt">
                                <div class="courses-name">PHP Course</div>
                                <ul class="list-unstyled">
                                    <li><label>Fees:</label> <span>$300.00</span> </li>
                                    <li><label>Prof.:</label> <span>Joge Lucky</span> </li>
                                    <li><label>Time:</label> <span>3months</span> </li>
                                    <li><label>Students:</label> <span>78</span> </li>
                                </ul>
                                <a class="btn btn-simple btn-round displayblock" href="javascript:void(0);">View More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="courses-box">
                            <div class="courses-img img_hover_effect"><img src="assets/images/courses-img-3.jpg" alt="Magento Programmer"></div>
                            <div class="courses-cnt">
                                <div class="courses-name">Web Design Course</div>
                                <ul class="list-unstyled">
                                    <li><label>Fees:</label> <span>$249.00</span> </li>
                                    <li><label>Prof.:</label> <span>Will Smith</span> </li>
                                    <li><label>Time:</label> <span>3months</span> </li>
                                    <li><label>Students:</label> <span>115</span> </li>
                                </ul>
                                <a class="btn btn-simple btn-round displayblock" href="javascript:void(0);">View More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="courses-box">
                            <div class="courses-img img_hover_effect"><img src="assets/images/courses-img-4.jpg" alt="Magento Programmer"></div>
                            <div class="courses-cnt">
                                <div class="courses-name">Angular Developer</div>
                                <ul class="list-unstyled">
                                    <li><label>Fees:</label> <span>$505.00</span> </li>
                                    <li><label>Prof.:</label> <span>Alexander</span> </li>
                                    <li><label>Time:</label> <span>9months</span> </li>
                                    <li><label>Students:</label> <span>45</span> </li>
                                </ul>
                                <a class="btn btn-simple btn-round displayblock" href="javascript:void(0);">View More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Home Fun Fact -->
        <div class="fun-fact">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-6">
                        <div class="fun-fact-box text-center"> <i class="zmdi zmdi-account"></i> <span class="counter timer" data-from="0" data-to="652" data-speed="2500" data-fresh-interval="700">652</span>
                            <p>CERTIFIED TEACHERS</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="fun-fact-box text-center"> <i class="zmdi zmdi-favorite"></i> <span class="counter timer" data-from="0" data-to="7652" data-speed="2500" data-fresh-interval="700">7652</span>
                            <p>FOREIGN FOLLOWERS</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="fun-fact-box text-center"> <i class="zmdi zmdi-thumb-up"></i> <span class="counter timer" data-from="0" data-to="52" data-speed="2500" data-fresh-interval="700">52</span>
                            <p>Years Of Experience</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="fun-fact-box text-center"> <i class="zmdi zmdi-mood"></i> <span class="counter timer" data-from="0" data-to="7652" data-speed="2500" data-fresh-interval="700">7652</span>
                            <p>Well Smiley Faces</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Upcoming Event -->
        <div class="upcoming-event">
            <div class="container">
                <div class="row">
                    <div class="section-title col-12">
                        <h2><span>Upcoming </span>Event</h2>
                        <p>Description text here...</p>
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="col-lg-6 col-md-12">
                        <div class="common-cnt">
                            <div class="section-top">
                                <p> ANNUAL MEET UP AND<br> SCHOLARSHIP<br> PRESENTATIONS </p>
                            </div>
                            <p class="date">29-APRIL-2018</p>
                            <p class="address">Sayidan Street, Gondomanan, 8993,<br> San Francisco, CA</p>
                            <p><a class="btn btn-primary btn-lg btn-round">Join Now</a> </p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="box-img box-shadow img_hover_effect"> <img src="assets/images/upcoming-img.jpg" alt=""> </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Home Our Team -->
        <div class="our-team">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="section-title left col-lg-5">
                        <h2><span>Meet </span>Our Team</h2>
                        <p>Description text here...</p>
                    </div>
                    <div class="section-title right col-lg-7">
                        <p><span class="color-212121">Oreo University </span> The wise man therefore always holds in these matters to this principle of selection: he rejects pleasures to secure.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="team-box text-center">
                            <div class="professor-pic"><img src="assets/images/team-member-08.png" alt="Pro. John"></div>
                            <div class="team-info">
                                <h4>Pro. John <span>Dentist</span></h4>
                                <ul class="clearfix">
                                    <li><a href="javascript:void(0);"><i class="zmdi zmdi-facebook"></i></a></li>
                                    <li><a href="javascript:void(0);"><i class="zmdi zmdi-twitter"></i></a></li>
                                    <li><a href="javascript:void(0);"><i class="zmdi zmdi-instagram"></i></a></li>
                                </ul>
                                <a class="btn btn-simple btn-primary btn-round" href="teacher-detail.html">View More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="team-box text-center">
                            <div class="professor-pic"><img src="assets/images/team-member-02.png" alt="Pro. Amelia"></div>
                            <div class="team-info">
                                <h4>Pro. Amelia <span>Gynecologist</span></h4>
                                <ul class="clearfix">
                                    <li><a href="javascript:void(0);"><i class="zmdi zmdi-twitter"></i></a></li>
                                    <li><a href="javascript:void(0);"><i class="zmdi zmdi-instagram"></i></a></li>
                                </ul>
                                <a class="btn btn-simple btn-primary btn-round" href="javascript:void(0);">View More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="team-box text-center">
                            <div class="professor-pic"><img src="assets/images/team-member-03.png" alt="Pro. Jack"></div>
                            <div class="team-info">
                                <h4>Pro. Jack <span>Audiology</span></h4>
                                <ul class="clearfix">
                                    <li><a href="javascript:void(0);"><i class="zmdi zmdi-facebook"></i></a></li>
                                    <li><a href="javascript:void(0);"><i class="zmdi zmdi-twitter"></i></a></li>
                                    <li><a href="javascript:void(0);"><i class="zmdi zmdi-instagram"></i></a></li>
                                    <li><a href="javascript:void(0);"><i class="zmdi zmdi-google-plus"></i></a></li>
                                </ul>
                                <a class="btn btn-simple btn-primary btn-round" href="javascript:void(0);">View More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="team-box text-center">
                            <div class="professor-pic"><img src="assets/images/team-member-04.png" alt="Pro. Charlie"></div>
                            <div class="team-info">
                                <h4>Pro. Charlie<span>Dentist</span></h4>
                                <ul class="clearfix">
                                    <li><a href="javascript:void(0);"><i class="zmdi zmdi-facebook"></i></a></li>
                                    <li><a href="javascript:void(0);"><i class="zmdi zmdi-twitter"></i></a></li>
                                    <li><a href="javascript:void(0);"><i class="zmdi zmdi-instagram"></i></a></li>
                                </ul>
                                <a class="btn btn-simple btn-primary btn-round" href="javascript:void(0);">View More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Home Support -->
        <!-- <div class="support-home text-center xl-darkblack">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h4>Become a Teacher</h4>
                        <p>Please feel free to contact us at (01) 234 5678</p> <a class="btn btn-primary btn-round" href="javascript:void(0);">Start Teaching</a>
                    </div>
                </div>
            </div>
        </div> -->

        <!-- Home Blog -->
        <!-- <div class="home-blog">
            <div class="container">
                <div class="row">
                    <div class="section-title col-12">
                        <h2><span>Latest </span>From Blog</h2>
                        <p>Description text here...</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="blog-box">
                            <div class="blog-img img_hover_effect"> <img src="assets/images/blog-1.png" alt=""> </div>
                            <div class="blog-cnt">
                                <h5><a href="javascript:void(0);">How to handle your kids’ from Lorem ipsum dolorsit amet</a></h5>
                                <p>The great explorer of the truth, master builder of human happiness one rejects, dislikes[...]</p>
                            </div>
                            <div class="blog-info">
                                <span class="blog-date"><i class="zmdi zmdi-calendar"></i> 02 Feb 2018</span>
                                <span class="blog-comment"><i class="zmdi zmdi-comments"></i> Comment ( 25 )</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="blog-box">
                            <div class="blog-img img_hover_effect"> <img src="assets/images/blog-2.png" alt=""> </div>
                            <div class="blog-cnt">
                                <h5><a href="javascript:void(0);">How to handle your kids’ from Lorem ipsum dolor sit amet</a></h5>
                                <p>The great explorer of the truth, master builder of human happiness one rejects, dislikes[...]</p>
                            </div>
                            <div class="blog-info">
                                <span class="blog-date"><i class="zmdi zmdi-calendar"></i> 02 Feb 2018</span>
                                <span class="blog-comment"><i class="zmdi zmdi-comments"></i>Comment ( 25 )</span>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-lg-4 hidden-md-down">
                        <div class="blog-box">
                            <div class="blog-img img_hover_effect"> <img src="assets/images/blog-3.png" alt=""> </div>
                            <div class="blog-cnt">
                                <h5><a href="javascript:void(0);">How to handle your kids’ from Lorem ipsum dolorsit amet</a></h5>
                                <p>The great explorer of the truth, master builder of human happiness one rejects, dislikes[...]</p>
                            </div>
                            <div class="blog-info">
                                <span class="blog-date"><i class="zmdi zmdi-calendar"></i> 02 Feb 2018</span>
                                <span class="blog-comment"><i class="zmdi zmdi-comments"></i>Comment ( 25 )</span>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </section>

    <!-- start footer -->
    <footer id="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <div class="fcard about">
                        <h5 class="title">About DBIT</h5>
                        <p>Mumbai is a large industrial city of India. Considering this fact, the Salesians who were established at Matunga since 1928 decided to start a technical school. This was done to cater to the growing demand for skilled workers in the industrial sector. Fr. Maschio and Fr. Rubio took charge of finding a plot for this purpose</p>
                        <div class="social">
                            <a href="https://www.facebook.com/dbitofficial/"><i class="zmdi zmdi-facebook m-r-10"></i></a>
                            <a href="https://twitter.com/donboscomumbai"><i class="zmdi zmdi-twitter m-r-10"></i></a>
                            <a href="https://www.instagram.com/explore/locations/239842223/don-bosco-institute-of-technology-mumbai/?hl=en"><i class="zmdi zmdi-instagram m-r-10"></i></a>
                            <a href="https://alumni.dbit.in/"><i class="fa fa-graduation-cap m-r-10" aria-hidden="true"></i></a>
                            <a href="https://www.youtube.com/channel/UCCcBlvl1WowuM9xv4TfTLJA"><i class="fa fa-youtube-play m-r-10" aria-hidden="true"></i></a>
                            <a href="http://parent.dbit.in"><i class="fa fa-users m-r-10" aria-hidden="true"></i></i></a>
                            <div class="sppb-addon-content">
                                <div class="sppb-addon-single-image-container">
                                    <a href="http://moodle.dbit.in/"><img class="sppb-img-responsive m-r-10" src="C:\xampp\htdocs\dbit\thememakker.com\templates\oreo\university\front\assets\images\download.png" width="20px" height="20px" alt="moodle.png" title=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="fcard contact links">
                        <h5 class="title">Contact Details</h5>
                        <ul class="list-unstyled">
                            <li><i class="zmdi zmdi-pin"></i>Don Bosco Institute Of Technology Premier Automobiles Road, Opp. Fiat Company, Kurla (W), Mumbai- 400 070</li>
                            <li><i class="zmdi zmdi-email"></i>dbit[at]dbit.in</li>
                            <li><i class="zmdi zmdi-phone"></i>022-25042424 / 022-25040508</li>
                            <li><i class="zmdi zmdi-time"></i>Mon-Friday: 9:00 to 17:00</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

<!-- start screpting -->
<script src="assets/bundles/libscripts.bundle.js"></script>    
<!-- my js -->
<script src="assets/js/app.js"></script>
<script src="assets/js/countTo.js"></script>
</body>


</html>